.list {
    padding-left: 0px;
    list-style: none;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0px;
    list-style: none;
}

button {
    padding: 10px;
    border-radius: 25px;
    border-color: inherit;
    background-color: #33294a;
    color: #fff;
    text-transform: uppercase;
}

button:hover {
    background-color: #9f4676;
    color: #fff;
}
